footer.footer
  p.footer__text © Untitled Inc. All rights reserved.
    span.footer__divider
  p.footer__text Created:
    a(class="footer__text_link" href="https://github.com/hleppps" target="_blank") hleppps 
    span.footer__divider
  p.footer__text Design:
      a(class="footer__text_link" href="https://html5up.net" target="_blank") HTML5 UP