header.header 
  button.header__button.header__button_menu
    span.header__button_menu_text MENU
    span.header__button_menu_icon
  a(class="header__button header__button_home" href="") SOLID STATE
