//- UNDERLAY

div(class="underlay" id="underlay")

//- NAVIGATION

nav(class='nav' id='nav')
  div(class='nav__close-btn close-btn' id="test")
  h3.nav__heading MENU
  ul.nav__list
    each val in ['HOME', 'GENERIC', 'ELEMENTS', 'LOG IN', 'SIGN UP']
      li.nav__list_item
        a(class='nav__list_item_link' href='')= val